*{
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
  color: #fff;
}
body{
  
  background: linear-gradient( 45deg, rgb(4, 0, 39) , rgb(0, 0, 0));
  
  overflow-x: hidden;
  --sb-track-color: linear-gradient( 45deg, rgb(4, 0, 39) , rgb(0, 0, 0));
  --sb-thumb-color: white;
  --sb-size: 7px;

  scrollbar-color: var(--sb-thumb-color) 
                   var(--sb-track-color);
}

body::-webkit-scrollbar {
  width: var(--sb-size) 
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 1px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 20px;
  
  }
  html{
    scroll-behavior: smooth;
  
  }

header{
  border-bottom: solid 1px #fff;
  width: 100%;
  height: 100px;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.63);
  z-index: 999;
}
.nav{
  width: 100%;
  height: 100px;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo{
  font-size: 30px;
padding-left: 30px;
}
.nav-list{
  display: flex;
  gap: 250px;
 list-style: none;
padding-right: 30px;
}
.hamburguer{
  display: none;
  border: none;
  background: none;
  border-top: 3px solid #fff;
  cursor: pointer;

}
.hamburguer::before,
.hamburguer::after{
  content: "";
  display: block;
  width: 30px;
  height: 3px;
  background: #fff;
  margin-top: 5px;
}
.nav-list{
  font-size: 20px;
  color: #fff;
  padding-block: 16px;

}
@media (max-width: 1230px){

.nav-list{
  gap: 50px;
}
}
@media (max-width: 900px){
  .fotop{
    display: none;
  }
  .hamburguer{
    display: block;
    z-index: 1;
    margin-right: 40px;
  }
  .nav-list{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: blue;
    clip-path: circle(100px at 90% -15%);
    transition: 1s ease-out;


    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 0;
pointer-events: none;
  }
}
.nav.active .nav-list{
clip-path: circle(1500px at 90% -15%);
pointer-events: all;
}
a{
  text-decoration: none;
}



.op{
  height: 200px;
}
.main1{
  height: 100%;
  display: flex;
  align-items: center ;
  justify-content: space-around;
  
}

.apresentacao{
  width: auto;
  
}
.apresentacao p{
  display: flex;
  justify-content:start;
  font-size: 60px;
}
.apresentacao p strong{
  text-transform: uppercase;
  display: inline-block;
  background: url(imagens/download.jpg);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 50px white;
  animation: fontemexe 15s linear infinite;
}
@-webkit-keyframes fontemexe{
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
.curriculo{
  display: flex;
  align-items: center;
  justify-content: center;
}
.curriculo a{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border: solid white 3px;
  padding-top: 10px;
  padding-bottom:  10px;
  border-radius: 10px;
  text-decoration: none;
  background: linear-gradient(45deg, black, #040027);
  transition: 1s;
}
.curriculo a:hover{
  transform: scale(0.9,0.9);
  transition: 1s;
}
.fotop{
  width: auto;
  z-index: -3;
}
.fotop img{
  width: 340px;
  animation: float 3s ease-in-out infinite;
  filter: drop-shadow(0 0 10px );
}
@keyframes float{
  0% 100%{
    transform: translateY(0);
    
  }
   50% {transform: translateY(-25px)
  }
}
.sobremim{
  width: 70%;
  margin: auto;
  height: 100%;
  padding-top: 250px;
  
}

.sobremimtitulo{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 35px;
  padding-bottom: 60px;
}
.sobremimtexto{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
}
.habilidades{
  width: 80%;
  height: 100%;
  margin: auto;
  padding-top: 250px;
}
.habilidadestitulo{
  font-size: 35px;
  padding-bottom: 60px;
  display: flex;
  justify-content: center;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}
.box{

  position: relative;
  text-align: center;
  background-color: rgb(11, 2, 90);
  width: 9rem;
  aspect-ratio: 1;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 2.5rem;
  cursor: pointer;
  transition: 0.2s;
  border-bottom: rgb(255, 255, 255) 3px solid;
  font-size: 1rem;
  z-index: ;
}
.box:hover{
  transform: scale(1.1,1.1);
}
.box p{
  padding-bottom: 6px;
}
.box img{
  width: 5rem;
}
.containerprojetos{
  width: 100%;
  height: 100%;
  margin: auto;
  padding-top: 250px
}
.tituloprojetos{
width: 100%;
height: 100px;
display: flex;
justify-content: center;
padding-bottom: 20px;
font-size: 35px;

}
.divboxprojetos{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 3rem;
}

.box_projetos{
  flex-grow: 1;
 display: flex;
 justify-content: center;
  flex-basis: 300;
  padding-bottom: 25px;
}
.box_projetos img{
  width: 23rem;
 
}
.box_projetos:hover{
  transform: scale(1.1,1.1);
  transition: 1s;
}
footer{
  width: 100%;
  padding-top: 250px;
  padding-bottom: 10vw;

}
.titulocontato{
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 100px;
  font-size: 35px;
}
.redessociais{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 3rem;
  justify-content: center;
}
.redessociais img{
  width: 90px;
  cursor: pointer;
}
.redessociais div{
  position: relative;
  text-align: center;
  width: 10rem;
  aspect-ratio: 1;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 17px;
  padding-left: 30px;
}
.oi{
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 30px;
  height: 30px;
  background-color: white;
  color: #000000;
  border: none;
  box-shadow: 0 0 10px white;
  cursor: pointer;
}
button img{
  width: 20px;
 
}
