*{
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
  color: #fff;
}
body{
  background: linear-gradient( 45deg, rgb(4, 0, 39) , rgb(0, 0, 0));
  
  overflow-x: hidden;
  --sb-track-color: linear-gradient( 45deg, rgb(4, 0, 39) , rgb(0, 0, 0));
  --sb-thumb-color: white;
  --sb-size: 7px;

  scrollbar-color: var(--sb-thumb-color) 
                   var(--sb-track-color);
}

body::-webkit-scrollbar {
  width: var(--sb-size) 
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 1px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 20px;
  
  }
  html{
    scroll-behavior: smooth;
  
  }

header{
  border-bottom: solid 1px #fff;
  width: 100%;
  height: 100px;
  display: flex;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.63);
  z-index: 999;
}
header a, header h2 {
  color: #fff;
  text-decoration: none;
  
}
.nome_logo{
width: 30%;
display: flex;
justify-content: center;
align-items: center;
font-weight: 700;
font-size: 35px;
}
.menu{
  width: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 20px;
}
.op{
  height: 100px;
}
.main1{
  height: 600px;
  display: flex;
  align-items: center ;
  justify-content: space-around;
  
}

.apresentacao{
  width: auto;
  
}
.apresentacao p{
  display: flex;
  justify-content:start;
  font-size: 60px;
}
.curriculo{
  display: flex;
  align-items: center;
  justify-content: center;
}
.curriculo a{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border: solid white 3px;
  padding-top: 10px;
  padding-bottom:  10px;
  border-radius: 10px;
  text-decoration: none;
  background: linear-gradient(45deg, black, #040027);
  transition: 1s;
}
.curriculo a:hover{
  transform: scale(0.9,0.9);
  transition: 1s;
}
.fotop{
  width: auto;
  z-index: -3;
}
.fotop img{
  width: 340px;
  animation: float 3s ease-in-out infinite;
  filter: drop-shadow(0 0 10px );
}
@keyframes float{
  0% 100%{
    transform: translateY(0);
    
  }
   50% {transform: translateY(-25px)
  }
}
.sobremim{
  width: 70%;
  margin: auto;
  height: 600px;
  padding-top: 250px;
  
}

.sobremimtitulo{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 35px;
  padding-bottom: 60px;
}
.sobremimtexto{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
}
.habilidades{
  width: 80%;
  height: 1400px;
  margin: auto;
  padding-top: 250px;
}
.habilidadestitulo{
  font-size: 35px;
  padding-bottom: 60px;
  display: flex;
  justify-content: center;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 5rem;
}
.box{

  position: relative;
  text-align: center;
  background-color: rgb(11, 2, 90);
  width: 9rem;
  aspect-ratio: 1;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 2.5rem;
  cursor: pointer;
  transition: 0.2s;
  border-bottom: rgb(255, 255, 255) 3px solid;
  font-size: 1rem;
  z-index: ;
}
.box:hover{
  transform: scale(1.1,1.1);
}
.box p{
  padding-bottom: 6px;
}
.box img{
  width: 5rem;
}